
.div1 {
    font-size: 16px;
    background-color: red;
    width: 40%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 25px;

}
.div1 h1 {
    opacity: 0;  
    transition: opacity 0.3s ease;
}


.div1:hover {
    background-color: lime;
}


.div1:hover h1 {
    opacity: 1;  
    
}
.div2 {
    font-size: 16px;
    background-color: blue;
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: white;
    border-style: solid;
    border-radius: 50px;
    position:absolute;
    right: 0;

}
.div2 h1 {
    opacity: 0;
    
}
.div2:hover h1 {
    opacity: 1;
    transition: opacity 0.3s ease;
}


.div2:hover {
    background-color: purple;
}


.div2:hover h1 {
    opacity: 1;  
}
.div3 {
    font-size: 16px;
    background-color: orange;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: white;
    border-style: solid;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top:50%;

}
.div3 h1 {
    opacity: 0;
    
}
.div3:hover {
    background-color: yellowgreen;
}
.div3:hover h1 {
    opacity: 1;
    transition: opacity 0.3s ease;
}


.div4:hover {
    background-color: yellowgreen;
}
.div4 {
    font-size: 16px;
    background-color: cyan;
    width: 15%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: white;
    border-style: solid;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    top:75%;
    right: 0

}
.div4 h1 {
    opacity: 0;
    
}
.div4:hover h1 {
    opacity: 1;
    transition: opacity 0.3s ease;
}


.div4:hover {
    background-color: white;
}




h1 {
    
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.title {
    border-style: dotted;
    padding: 30px;
    border-radius: 25px;
    color: aqua;
}

body {
    background: linear-gradient(to right, blue, green,white);
}


.title {
    border-style: solid;
    padding: 10px;
    border-radius: 50px;
    color: aqua;
    text-align: center;
}

.div1:active {
    opacity: 0.5;
}
.div2:active {
    opacity: 0.5;
}
.div3:active {
    opacity: 0.5;
}
.div4:active {
    opacity: 0.5;
}
h2 {
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: center;
    right: 33%;
    background-color: black;
    color: orange;
}
.galileo {
    display: flex; 
            
            justify-content: center;
            margin-top: 20px; /* Space between h2 and galileo */
            padding: 20px;
            width: 100%;
            position: absolute;
            top: 95%; /* Adjust to place it below h2 */
            
}

.galileopicture {
    width: 150px;
    height: 175px;
    border-radius: 25px;
    border-style: solid;
    
    

}
